@use '$lib/utils.scss' as *;

*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	cursor: none;
}

*:focus {
	outline: none;
}

body {
	font-family: FOT-RodinNTLG;
	line-height: 1;
	background: linear-gradient(to bottom, #cdcfd7, #f0f0f0, #cdcfd7);
	min-height: 100vh;
	user-select: none;
	font-size: min(1.5rem, 1.4vw);
	overflow: hidden;
}

button {
	background: none;
	border: none;
	font-family: inherit;
	line-height: inherit;
}

@font-face {
	font-family: 'FOT-RodinNTLG';
	src: url('$lib/assets/fonts/FOT-RodinNTLG.otf');
}

@font-face {
	font-family: 'Segments';
	src: url('$lib/assets/fonts/segment-clock.ttf');
}

.bubble {
	position: absolute;
	top: calc(100% + 0.4rem);
	border-radius: 5rem;
	pointer-events: none;
	background: white;
	border: 3px solid $color-gray;
	padding: 0.5em 1.25em;
	font-size: 4vh;
	color: #555;
	min-width: 40vh;
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
	text-wrap: nowrap;
	z-index: 1;

	visibility: hidden;
	opacity: 0;
	scale: 0.9;
	translate: calc(var(--offset-x) * 1rem) calc(var(--offset-y) * 1rem);
	transition: all 0.15s;

	&.left {
		right: auto;
		left: 0;
	}

	&.right {
		left: auto;
		right: 0;
	}

	&.center {
		left: 50%;
		transform: translateX(-50%);
		transform-origin: 0 0;
	}

	&.visible {
		opacity: 1;
		scale: 1;
		visibility: visible;
	}
}
